<h2>Merb Resources</h2>
<ul>
  <li>
    <%= link_to 'Documentation',
      'http://merbivore.com/documentation/current/doc/rdoc/stack/index.html'
    %>
  </li>
  <li>
    <%= link_to 'Source of this site',
      'http://github.com/genki/merbist/tree/master'
    %>
  </li>
</ul>
