<div class="command">
  <%= link_to 'Index', resource(:plugins) %>
  <% if session.user %>
    <%= link_to 'New', resource(:plugins, :new) %>
    <% if @plugin && !@plugin.new_record? && @plugin.user == session.user %>
      <%= link_to 'Edit', resource(@plugin, :edit) %>
    <% end %>
  <% end %>
</div>
