<%= partial("command") %>

<h1>Plugin List</h1>

<ul>
  <% @plugins.each do |plugin| %>
    <li>
      <%= link_to plugin.name, resource(plugin) %>
      <% unless plugin.repos.blank? %>
        &dagger;
      <% end %>
    </li>
  <% end %>
</ul>

<div class="footnote">
  &dagger; You can install these thems by
  <code>
    gem install gem-name --source http://merbi.st
  </code>
</div>
