<h1>User List</h1>

<ul style="list-style:none">
  <% @users.each do |user| %>
    <li>
      <%= gravater user.email, 32, :class => :avatar %>
      <%= link_to h(user.login), resource(user) %>
      <%= t(['%d plugin', '%d plugins'], user.plugins.count) %>
    </li>
  <% end %>
</ul>

<%= paginate @users %>
