<h2>Recent Merbists</h2>

<ul style="list-style:none">
<% @users.each do |user| %>
  <li>
  <%= gravater user.email, 16, :class => 'avatar' %>
  <%= link_to h(user.login), resource(user) %>
  <% if user.home.present? %>
    (<%= link_to 'home', user.home %>)
  <% end %>
  </li>
<% end %>
</ul>
